<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        html, body {
            height: 100%;
        }

        main {
            display: flex;
            place-items: center;
            place-content: center;
            height: 80%;
        }
        .lb-email {
            display: block;
        }

        .lb-passwd {
            display: block;
        }
    </style>
</head>
<body>
<main>
    <form action="" method="post">
    <label for="in-email" class="lb-email">Email:</label>
    <input id="in-email" type="email">
    <label for="in-passwd" class="lb-passwd">Password:</label>
    <input id="in-passwd" type="password"><input type="checkbox" name="view password" id="view-passwd">
    <br />
    <input type="submit" value="submit" width="100px" height="50px">
</form>
</main>
</body>
</html>