{% extends "global/partials/html/index.html" %}
{% load static %}
{% block head %}
<meta charset="UTF-8">
<title>Hello</title>
<link rel="stylesheet" type="text/css" href="{% static "home/css/hello.css" %}">
{% endblock head %}
{% block body %}
<div class="hello-container">
    <main>
        <form action="" method="post">
            <header class="head-form">
                <h1>BEM VINDO AO <br> SITE BAKERY</h1>
            </header>
            <button type="button" onclick="window.location.href='{% url "login" %}'">Entrar</button>
            <button type="button" onclick="window.location.href='{% url "cadastro" %}'">Cadastre-se</button>
        </form>
    </main>
</div>
<div class="image-container">
    <img src="{% static "login/css/img/exemplosites.gif" %}">
</div>
{% endblock body %}