{#load static é necessario para rodar css, js, imagens, etc#}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static '/home/css/main.styles.css' %}">
    <link rel="stylesheet" href="{% static 'cards/css/card0.css' %}">
</head>
<body>
<h1>Home</h1>
{% include 'global/home.html' %}
{% include 'global/partials/menu/nav0.html' %}
<h2>{% block texto %}{{ text }}{% endblock %}</h2>
{% for i in '1234' %}{# Linhas #}
    {% for j in '123' %}{# Colunas #}
        {% include 'global/partials/cards/card0.html' %}
    {% endfor %}<br/>
{% endfor %} {# Desconsiderar essa formatação #}
</body>
</html>