{% extends 'global/partials/html/index.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'global/css/global.styles.css' %}">
<!--<link rel="stylesheet" href="{% static 'home/css/main.styles.css' %}"> -->
    <title>{{ title }}</title>
{% endblock %}
{% block body %}
    {% include 'global/partials/menu/nav0.html' %}
    {% include 'global/partials/img/img0.html' %}
    {% include 'global/partials/img/img0.html' %}
    {% include 'global/partials/img/img0.html' %}
    {% include 'global/partials/img/img0.html' %}
    {% include 'global/partials/img/img0.html' %}{% endblock %}